<div><%= flash[:success] %></div>
<p>Title</p>
<p><%= @book.title %></p>

<p>Body</p>
<p><%= @book.body %></p>

<span><%= link_to "Edit", edit_book_path(@book.id) %></span>
<p>|</p>
<span><%= link_to "Back", '/books' %></span>